.container{
    height: 100%;
    width: 100%;
}

.ads1{
    width: 20%;
    height: 20%;
}
.ads2{
    width: 20%;
    height: 20%;
}
.ads3{
    width: 20%;
    height: 20%;
}
.ads4{
    width: 20%;
    height: 20%;
}
.ads5{
    width: 20%;
    height: 20%;
}